{% extends 'bootstrap/base.html'%}

<!-- Head section -->
{% block head %} {{ super() }}
<link
    rel="icon"
    href="{{ url_for('static', filename='assets/favicon.ico') }}"
/>
<style>
    body {
        background-color: black;
        color: white;
    }

    .jumbotron {
        background-color: black;
        color: white;
    }
</style>
{% endblock %}

<!-- Title section -->
{% block title %}Exchange Rate Converter/Converted{% endblock %}

<!-- Content section -->
{% block content %}
<!-- Just an image -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('home') }}">
        <img
            src="{{ url_for('static', filename='assets/favicon.ico') }}"
            width="30"
            height="30"
            alt=""
        />
    </a>
</nav>
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-left">
                <img
                    src="{{ url_for('static', filename='assets/exchange-rate.png') }}"
                />
            </div>
            <div class="col-lg-6 col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Conversion Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">Source Currency</th>
                            <td scope="row">{{ source }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Destination Currency</th>
                            <td>{{ destination }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Exchange Rate</th>
                            <th style="color: lawngreen">{{ result }}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
